.task-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-col-head, .task-col-head-left {
    display: flex;
    align-items: center;
}

.task-col-head-left {
    font-size: 12px;
    font-weight: 600;
}

.task-col-head {
    justify-content: space-between;
}

.task-col-head-left {
    gap: .5rem;
}

.more-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    border-radius: 8px;
    background-color: white;
}